::-webkit-scrollbar{
    width: 10px;
    background-color: #0B1143;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #F24E1E;
    border-radius: 25px;
}
@font-face {
    font-family: 'Metal Gear Solid 2';
    src: url('../fonts/MGS2.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Keania One-Regular';
    src: url('../fonts/KeaniaOne-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Jawbreak-Sans';
    src: url('../fonts/BoxTube\ Labs\ -\ Jawbreak\ Sans.otf') format('opentype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

 
  
  .navbar-header
  {
    top: -1%;
    padding:10px 90px 0 0 ;
     position: absolute ;
     background-image: url('../img/Rectangle\ 42.png');
     background-position: 100% 100%;
     background-size: cover;
     z-index: 99;
     right: 0;
     font-family: 'Jawbreak-Sans';
     color: #fff;
          }
         
   .logo-correct
    {
      z-index: 99;
      top: 6px;
      left: 1%;
      position: absolute;
       
    }

    .logo-correct img 
    {
      width: 40%;
      height: 30%;
    }
.outsideLinks 
{
     padding: 0px 15px;


}


 .allLinks 
 {
    transition: all .5s ;
    color: #fff;
    font-size: 1.6rem;
  }

 .allLinks:hover
 {
    color: #F24E1E !important;

 }
 .allLinks:active
 {
  color: #F24E1E !important;
 }
 .allLinks:focus
 {
  color: #F24E1E !important;

 }
 .active
 {
    color: #F24E1E !important;
 }

 

 
 @media screen and (max-width:1200px) and (min-width:992px)

 {         
.logo-correct img 
{
  height: 25%;
}

.outsideLinks 
{
     padding: 0px 5px;
}

 .allLinks 
 {
    font-size: 1.4rem;
  }

 
 


 }

  
 @media screen and (max-width:992px) and (min-width:768px)

 {         
  .navbar-header
  {
    padding:10px;
     background:none;
     color: #fff;
     right: 50px;
     top: 10px; 
         }
         
         .navbar-toggler
         {
          background-color: #fd7e14 !important;
          position: absolute;
          top: 0%;
          right: 0%;
         }

         #navbarSupportedContent
         {
          background-color: #000 !important;
          text-align: center;
          margin: auto;
          /* margin-top: 10% !important; */
          padding-top: 20% !important;
          padding-left: 10%;
         }



   .logo-correct
    {
      z-index: 99;
      top: 6px;
      left: 1%;
      position: absolute;
       
    }

    .logo-correct img 
    {
      width: 40%;
      height: 30%;
    }
.outsideLinks 
{
     padding: 0px 15px;


}


 .allLinks 
 {
    transition: all .5s ;
    color: #fff;
    font-size: 1.5rem;
  }

 


 }


   
 @media screen and (max-width:768px)
 {         
  .navbar-header
  {
    padding-right:90px ;
     background:none;
     color: #fff;
     right: 0px;
     top: 10px; 
         }
         
         .navbar-toggler
         {
          background-color: #fd7e14 !important;
          position: absolute;
          top: 0%;
          right: 0%;
         }

         #navbarSupportedContent
         {
          background-color: #000 !important;
          text-align: center;
          margin: auto;
          /* margin-top: 10% !important; */
          padding-top: 20% !important;
          padding-left: 10%;
         }



   .logo-correct
    {
      z-index: 99;
      top: 6px;
      left: 1%;
      position: absolute;
       
    }

    .logo-correct img 
    {
      width: 40%;
      height: 30%;
    }
.outsideLinks 
{
     padding: 0px 15px;


}


 .allLinks 
 {
    transition: all .5s ;
    color: #fff;
    font-size: 1.5rem;
  }

 


 }